.header {
    background-color: #6173ed;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    margin: 0;
    color: white;
    margin-left: 1em;
}
.header button {
    margin-right: 1em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}