<div class="header">
  <h3>Preferences</h3>
  <button mat-raised-button>Update</button>
</div>

<div class="row">
  <p>Refresh Time (days)</p>
  <mat-form-field>
    <mat-select value="60">
      <mat-option value="60">60</mat-option>
      <mat-option value="30">30</mat-option>
      <mat-option value="352">352</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="row">
  <p>Requests per Minute</p>
  <mat-form-field>
    <mat-select value="2000">
      <mat-option value="2000">2000</mat-option>
      <mat-option value="1000">1000</mat-option>
      <mat-option value="352">352</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="row">
  <p>Pod Location</p>
  <p>Locally Hosted</p>
</div>

<div class="row">
  <p>Blacklist</p>
  <button mat-raised-button>View List</button>
</div>