.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.request-detail {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.buttons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}